<mat-sidenav-container class="sidenav-container">
  <!-- Contêiner para a barra lateral e o conteúdo principal -->

  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <!-- Barra lateral com configurações dinâmicas baseadas na largura da tela -->
    <!-- Avatar Icon -->
    <div class="d-flex justify-content-center">
      <!-- Container para o icone do avatar -->
      <div class="user-pic">
      </div>
    </div>

    <!-- Nome do Usuário -->
    <h1 class="user-name">Rick Sanchez</h1>
    <!-- Nome de usuário exibido na barra lateral -->

    <!-- Listar navegadores -->
    <mat-nav-list>
      <!-- Lista de links de navegação -->
      <a mat-list-item class="list-container" [routerLink]="['/home/list-characters']">
        <!-- Link para a lista de personagens -->
        <mat-icon class="icon-list">home</mat-icon>
        <!-- Ícone da página inicial -->
        <span class="icon-title">Home</span>
        <!-- Texto descritivo da página inicial -->
      </a>

      <a mat-list-item [routerLink]="['/home/list-favorite']" class="list-container">
        <!-- Link para a lista de favoritos -->
        <mat-icon class="icon-list">favorite</mat-icon>
        <!-- Ícone da página de favoritos -->
        <span class="icon-title">Favorites</span>
        <!-- Texto descritivo da página de favoritos -->
      </a>
    </mat-nav-list>

    <!-- Botão Sair -->
    <button class="exit-button" (click)="onClick()">
      <!-- Botão Sair com função de clique associada -->
      <mat-icon>exit_to_app</mat-icon>
      <!-- Ícone de saída -->
    </button>
  </mat-sidenav>

  <!-- Conteúdo -->
  <mat-sidenav-content>
    <!-- Conteúdo principal do aplicativo -->
    <mat-toolbar color="primary">
      <!-- Barra de ferramentas com cor primária -->
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <!-- Botão para alternar a barra lateral em dispositivos móveis -->
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        <!-- Ícone do botão de alternância da barra lateral -->
      </button>
    </mat-toolbar>

    <!-- Conteúdo -->
    <router-outlet></router-outlet>
    <!-- Componente para exibir conteúdo dinamicamente com base em rotas -->
  </mat-sidenav-content>
</mat-sidenav-container>
